<DOCTYPE html>
  <html>
    <head>
      <title>
      Hand Us🔸Home
      </title>
      <style>
        #bodys{
          margin-top:5%;
          background-color: antiquewhite;
        }
      </style>
      {%include 'bootstrap.html'%}
      {% include 'style.css'%}
    </head>
    <body id="bodys">
     {% include 'nav.html' %}
      <div class="container">
      <div>
        <h3 class="text-center m4-2 mb-2"> Unveiling Hand Us. A Secure Real Estate Management System  </h3>
        <p class="lead text-center">
          Simplify Giving, Amplify Impact. Hand Us streamlines the Real Estate process, connecting Merchants with causes they care about.
          Where Compassion Meets Technology. Experience the power of digital giving with our innovative Real Estate management system.
           </p>
           <div class="text-center">
           <a href="{{url_for('donatepage')}}" class=" text-center mb-4 mt-2 btn btn-primary active"
         role="button" aria-pressed="true">Check Avaliabilities Now</a>
      </div>
        <img class="img-fluid" id="banner" src ="static\banner.jpg" height="2000vh">
    
        <div id="about">
    <h2  class="text-center mt-4 mb-2 ">About </h2>  
        <p class="lead">
          When it comes to Real Estate, trust and security are paramount. Our website is committed to providing a safe and trustworthy environment for your contributions. By choosing to give through us, you're not only supporting causes you're passionate about but also ensuring that your generosity has a meaningful impact.

          Join us in making a difference. Start your journey with our platform today, knowing that your kindness will be both safe and impactful. Together, we can change the world, one at a time.
        </p>
        </div>

        <div id="requirements">
      <h3 class="text-center mt-2 mb-4">Check Availabilities for Sale</h3>
        
      <div class="alert alert-primary" role="alert">
          <a href="{{url_for('donatepage')}}" class="alert-link">3BHK</a>. A 3BHK flat at Hyderabad.
          
        </div>
      <div class="alert alert-secondary" role="alert">
        <a href="{{url_for('donatepage')}}" class="alert-link">20Sqft Flat</a> Flat for Sale
      
      </div>
      <div class="alert alert-success" role="alert">
         <a href="{{url_for('donatepage')}}" class="alert-link">Villa for Sale</a> A well constructured Villa ready to be sold...
        

      </div>
      <div class="mt-4 mb-4 text-center">
      <a href="{{url_for('donatepage')}}" class="btn btn-primary active"
      role="button" aria-pressed="true"><b>Check Now!</b></a>
      </div>
      </div>
<div>
  
  <h2 class="mt-2">
    Add Property Listings
</h2>
<p class="lead">
    Tell us about the properties you want to list. Whether it's residential homes, commercial spaces, land, or any other real estate asset,
    share the details of the properties you're managing. Your description will help potential buyers or renters understand the
    features of the properties and how they can meet their needs.
</p>

  <div class="text-center">
  <a href="{{url_for('Needs')}}" class=" mb-4 btn btn-warning active" role="button" aria-pressed="true"><b>Add an availability</b></a>
      </div>
</div>




        {%include 'footer.html'%}
    </div>
    </body>
  </html>